.list_box {
    margin: 12px;
    border: 1px solid rgb(40, 40, 40);
}

.list_box row {
    padding: 12px;
    border-bottom: 1px solid rgb(50, 50, 50);
}

#main_list_box row {
    padding-right: 20px;
}

.list_box row:last-child {
    border-bottom: none;
}

.desc_label {
    font-size: 0.8em;
}

/* .error .combo {
    border-color: rgb(255, 60, 60);
} */
