[Desktop Entry]
Name=GPower Tweaks
Categories=Settings;HardwareSettings;GTK;
Comment=Tweak various power-related settings
Icon=applications-system-symbolic
Exec=gpower-tweaks
Keywords=GPower;Tweaks;Power;
StartupNotify=true
Terminal=false
Type=Application